
<style>

.container {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #34495e;
}
.container{
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #8c2020;
  text-align: center;
}
.container input[type = "number"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498d4;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.container input[type = "number"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.container input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.container input[type = "submit"]:hover{
  background: #2ecc71;
}
</style>

<div class="container">

	<h3>Share Calculator</h3>
<form method="POST" enctype="multipart/form-data">
	

	{% csrf_token %}
	{{ form.as_p }}

	<input type="submit" name="" value="Calculate">
	<p>Number of Shares you can buy or sell : {{ no_of_shares }}</p>
	
	
</form>
</div>

